<%-include('autobase')-%>
<div class="text-center left-div" id="login">
    <div class="container w-24">
        <div class="title pb-2">
            <h2 class="font-weight-bold">Input URL's</h2>
        </div>
        <form action="/route/auto" method="POST">
            <div class="form-group">
                <input type="URL" class="form-control" placeholder="URL" name="URL">


<%-include('footer')-%>