@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@1,300&display=swap');

body{
    font-family: 'KoHo', sans-serif;
    background-image: url('/assets/background3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.center-div{
    padding-top: 10%;
}
.btn.btn-sucess{
    padding: 4em 2em;
}

form{
    padding: 0 3em;
}
